@page "/login"
@using Navtrack.Web.Models

<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-4 py-lg-5 pt-lg-6">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Navtrack</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Sign in with your credentials</small>
            </div>
            <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit" role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <DataAnnotationsValidator />
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ni ni-email-83"></i>
                    </span>
                  </div>
                  <InputText class="form-control" placeholder="Email" type="email" @bind-Value="@loginModel.Email" />
                </div>
                <ValidationMessage For="@(() => loginModel.Email)" />
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ni ni-lock-circle-open"></i>
                    </span>
                  </div>
                  <InputText class="form-control" placeholder="Password" type="password"
                    @bind-Value="@loginModel.Password" />
                </div>
                <ValidationMessage For="@(() => loginModel.Password)" />
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <InputCheckbox class="custom-control-input" id=" customCheckLogin" type="checkbox"
                  @bind-Value="@loginModel.RememberMe" />
                <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-muted">Remember me</span>
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Sign in</button>
              </div>
            </EditForm>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <a href="#" class="text-light">
              <small>Create new account.</small>
            </a>
          </div>
          <div class="col-6 text-right">
            <a href="#" class="text-light">
              <small>Forgot password?</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="py-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12">
          <div class="copyright text-center text-muted">
            © @DateTime.Now.Year <a href="https://navtrack.io" class="font-weight-bold ml-1"
              target="_blank">Navtrack</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

@code {
    private LoginModel loginModel = new LoginModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}